body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    font-family: system-ui, sans-serif;
}
h2 {
    font-weight: bold;
}
#start-page {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .date-time {
        display: flex;
        justify-content: space-between;
    }
}
.start-activity {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 252, 210);
    padding: 8px 16px;
    border-radius: 16px;

    .show-more {
        padding: 8px 16px;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid white;
        background-color: rgb(0, 106, 255);
        color: white;
        border-radius: 8px;
    }
}
#view-activity-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .date-time {
        display: flex;
        justify-content: space-between;
    }

    #view-activity-wrapper {
        max-height: 100%;
        overflow-y: scroll;
        margin-bottom: 16px;
    }

    .view-activity {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 16px;
        border: 2px solid rgb(255, 252, 210);
    }
}

#view-activity-back-button {
        padding: 8px 16px;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid white;
        background-color: rgb(1, 0, 63);
        color: white;
        border-radius: 8px;
}

#view-activity-rsvp-button {
        padding: 8px 16px;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid white;
        background-color: rgb(0, 106, 255);
        color: white;
        border-radius: 8px;
}

.peopleCount-wrapper {
    font-weight: bold;
    text-align: center;

    .peopleCount {
        font-size: 1.5em;
    }
}

.page {
    padding: 5%;
    box-sizing: border-box;
}
.error {
    font-family: monospace;
    background-color: red;
}
[hidden] {
    display: none !important;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.notebook-row {
    width: 100%;
}

.notebook-row:nth-child(odd) {
background-color: rgba(255, 255, 255);
}

.notebook-row:nth-child(even) {
background-color: rgb(255, 252, 210);
}